# EmailJS Credentials
# Dapatkan kunci dari dashboard EmailJS: https://dashboard.emailjs.com/
VITE_EMAILJS_SERVICE_ID=service_xxxxx
VITE_EMAILJS_TEMPLATE_ID=template_xxxxx
VITE_EMAILJS_PUBLIC_KEY=user_xxxxx
